In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("../data/adult.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

<input type="checkbox" checked> Remove fnlwgt<br>
<input type="checkbox" checked> Remove education<br>
<input type="checkbox" checked> Remove capital-gain<br>
<input type="checkbox" checked> Remove capital-loss<br>
<input type="checkbox" checked> Remove hours-per-week<br>

### Encoding
Todos os atributos são encodados usando OneHotEncoding pois não possuem relação de hierarquia

In [4]:
preproc = df.drop(['fnlwgt', 'education', 'capital-gain', 'capital-loss', 'hours-per-week'], axis=1)
preproc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   educational-num  48842 non-null  int64
 3   marital-status   48842 non-null  object
 4   occupation       48842 non-null  object
 5   relationship     48842 non-null  object
 6   race             48842 non-null  object
 7   gender           48842 non-null  object
 8   native-country   48842 non-null  object
 9   income           48842 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.7+ MB

In [5]:
preproc['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [6]:
preproc['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [7]:
preproc['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [8]:
preproc['occupation'].unique()

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [9]:
preproc['relationship'].unique()

array(['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative'], dtype=object)

In [10]:
preproc['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [11]:
preproc['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [12]:
preproc['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [13]:
preproc

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,18,?,10,Never-married,?,Own-child,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [22]:
from sklearn.preprocessing import OneHotEncoder

colunas_categoricas = ['workclass', 'marital-status', 'occupation', 
                       'relationship', 'race', 'gender', 'native-country']

encoder = OneHotEncoder(sparse_output=False, drop='first')

dados_onehot = encoder.fit_transform(preproc[colunas_categoricas])

nomes_colunas = encoder.get_feature_names_out(colunas_categoricas)

df_onehot = pd.DataFrame(dados_onehot, columns=nomes_colunas)


colunas_restantes = ['age', 'educational-num', 'income']
df_final = pd.concat([df[colunas_restantes], df_onehot], axis=1)

In [23]:
df_final.shape

(48842, 82)

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 82 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        48842 non-null  int64
 1   educational-num                            48842 non-null  int64
 2   income                                     48842 non-null  object
 3   workclass_Federal-gov                      48842 non-null  float64
 4   workclass_Local-gov                        48842 non-null  float64
 5   workclass_Never-worked                     48842 non-null  float64
 6   workclass_Private                          48842 non-null  float64
 7   workclass_Self-emp-inc                     48842 non-null  float64
 8   workclass_Self-emp-not-inc                 48842 non-null  float64
 9   workclass_State-gov                        48842 non-null  float64
 10  workclass_Without-pay                      48842 non-null  float64
 11  marital-status_Married-AF-spouse           48842 non-null  float64
 12  marital-status_Married-civ-spouse          48842 non-null  float64
 13  marital-status_Married-spouse-absent       48842 non-null  float64
 14  marital-status_Never-married               48842 non-null  float64
 15  marital-status_Separated                   48842 non-null  float64
 16  marital-status_Widowed                     48842 non-null  float64
 17  occupation_Adm-clerical                    48842 non-null  float64
 18  occupation_Armed-Forces                    48842 non-null  float64
 19  occupation_Craft-repair                    48842 non-null  float64
 20  occupation_Exec-managerial                 48842 non-null  float64
 21  occupation_Farming-fishing                 48842 non-null  float64
 22  occupation_Handlers-cleaners               48842 non-null  float64
 23  occupation_Machine-op-inspct               48842 non-null  float64
 24  occupation_Other-service                   48842 non-null  float64
 25  occupation_Priv-house-serv                 48842 non-null  float64
 26  occupation_Prof-specialty                  48842 non-null  float64
 27  occupation_Protective-serv                 48842 non-null  float64
 28  occupation_Sales                           48842 non-null  float64
 29  occupation_Tech-support                    48842 non-null  float64
 30  occupation_Transport-moving                48842 non-null  float64
 31  relationship_Not-in-family                 48842 non-null  float64
 32  relationship_Other-relative                48842 non-null  float64
 33  relationship_Own-child                     48842 non-null  float64
 34  relationship_Unmarried                     48842 non-null  float64
 35  relationship_Wife                          48842 non-null  float64
 36  race_Asian-Pac-Islander                    48842 non-null  float64
 37  race_Black                                 48842 non-null  float64
 38  race_Other                                 48842 non-null  float64
 39  race_White                                 48842 non-null  float64
 40  gender_Male                                48842 non-null  float64
 41  native-country_Cambodia                    48842 non-null  float64
 42  native-country_Canada                      48842 non-null  float64
 43  native-country_China                       48842 non-null  float64
 44  native-country_Columbia                    48842 non-null  float64
 45  native-country_Cuba                        48842 non-null  float64
 46  native-country_Dominican-Republic          48842 non-null  float64
 47  native-country_Ecuador                     48842 non-null  float64
 48  native-country_El-Salvador                 48842 non-null  float64
 49  native-country_England                     48842 non-null  float64
 50  native-country_France                      48842 non-null  float64
 51  native-country_Germany                     48842 non-null  float64
 52  native-country_Greece                      48842 non-null  float64
 53  native-country_Guatemala                   48842 non-null  float64
 54  native-country_Haiti                       48842 non-null  float64
 55  native-country_Holand-Netherlands          48842 non-null  float64
 56  native-country_Honduras                    48842 non-null  float64
 57  native-country_Hong                        48842 non-null  float64
 58  native-country_Hungary                     48842 non-null  float64
 59  native-country_India                       48842 non-null  float64
 60  native-country_Iran                        48842 non-null  float64
 61  native-country_Ireland                     48842 non-null  float64
 62  native-country_Italy                       48842 non-null  float64
 63  native-country_Jamaica                     48842 non-null  float64
 64  native-country_Japan                       48842 non-null  float64
 65  native-country_Laos                        48842 non-null  float64
 66  native-country_Mexico                      48842 non-null  float64
 67  native-country_Nicaragua                   48842 non-null  float64
 68  native-country_Outlying-US(Guam-USVI-etc)  48842 non-null  float64
 69  native-country_Peru                        48842 non-null  float64
 70  native-country_Philippines                 48842 non-null  float64
 71  native-country_Poland                      48842 non-null  float64
 72  native-country_Portugal                    48842 non-null  float64
 73  native-country_Puerto-Rico                 48842 non-null  float64
 74  native-country_Scotland                    48842 non-null  float64
 75  native-country_South                       48842 non-null  float64
 76  native-country_Taiwan                      48842 non-null  float64
 77  native-country_Thailand                    48842 non-null  float64
 78  native-country_Trinadad&Tobago             48842 non-null  float64
 79  native-country_United-States               48842 non-null  float64
 80  native-country_Vietnam                     48842 non-null  float64
 81  native-country_Yugoslavia                  48842 non-null  float64
dtypes: float64(79), int64(2), object(1)
memory usage: 30.6+ MB

In [30]:
df_final['educational-num'].unique()
df_final['gender_Male'].unique()

array([1., 0.])

In [32]:
df_final['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [33]:
df_final['income'] = df_final['income'].map({'<=50K': 1, '>50K': 0})

In [34]:
df_final['income'].unique()

array([1, 0])

In [37]:
df_final.to_csv('../data/dados.preprocessados.csv', index=False)