In [57]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [58]:
df = pd.read_csv("../data/adult.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

<input type="checkbox" checked> Remove fnlwgt<br>
<input type="checkbox" checked> Remove education<br>
<input type="checkbox" checked> Remove capital-gain<br>
<input type="checkbox" checked> Remove capital-loss<br>
<input type="checkbox" checked> Remove hours-per-week<br>

### Encoding
Todos os atributos são encodados usando OneHotEncoding pois não possuem relação de hierarquia

In [60]:
preproc = df.drop(['fnlwgt', 'education', 'capital-gain', 'capital-loss', 'hours-per-week'], axis=1)
preproc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   educational-num  48842 non-null  int64
 3   marital-status   48842 non-null  object
 4   occupation       48842 non-null  object
 5   relationship     48842 non-null  object
 6   race             48842 non-null  object
 7   gender           48842 non-null  object
 8   native-country   48842 non-null  object
 9   income           48842 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.7+ MB

In [61]:
preproc['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [62]:
preproc['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [63]:
preproc['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [64]:
preproc['occupation'].unique()

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [65]:
preproc['relationship'].unique()

array(['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative'], dtype=object)

In [66]:
preproc['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [67]:
preproc['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [68]:
preproc['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [69]:
preproc

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,18,?,10,Never-married,?,Own-child,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [70]:
preproc_clean = preproc.replace("?", pd.NA).dropna()
preproc_clean

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,34,Private,6,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [75]:
preproc_clean = preproc_clean.reset_index(drop=True)

In [76]:
colunas_categoricas = ['workclass', 'marital-status', 'occupation', 
                       'relationship', 'race', 'gender', 'native-country']

encoder = OneHotEncoder(sparse_output=False, drop='first')

dados_onehot = encoder.fit_transform(preproc_clean[colunas_categoricas])

nomes_colunas = encoder.get_feature_names_out(colunas_categoricas)

df_onehot = pd.DataFrame(dados_onehot, columns=nomes_colunas)


colunas_restantes = ['age', 'educational-num', 'income']
df_final_sem_interrro = pd.concat([preproc_clean[colunas_restantes], df_onehot], axis=1)

In [77]:
df_final_sem_interrro

,age,educational-num,income,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Married-AF-spouse,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38,9,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,28,12,>50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,44,10,>50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,34,6,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,27,12,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,40,9,>50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,58,9,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,22,9,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,52,9,>50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [79]:
df_final_sem_interrro.shape

(45222, 78)

In [80]:
df_final_sem_interrro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 78 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        45222 non-null  int64
 1   educational-num                            45222 non-null  int64
 2   income                                     45222 non-null  object
 3   workclass_Local-gov                        45222 non-null  float64
 4   workclass_Private                          45222 non-null  float64
 5   workclass_Self-emp-inc                     45222 non-null  float64
 6   workclass_Self-emp-not-inc                 45222 non-null  float64
 7   workclass_State-gov                        45222 non-null  float64
 8   workclass_Without-pay                      45222 non-null  float64
 9   marital-status_Married-AF-spouse           45222 non-null  float64
 10  marital-status_Married-civ-spouse          45222 non-null  float64
 11  marital-status_Married-spouse-absent       45222 non-null  float64
 12  marital-status_Never-married               45222 non-null  float64
 13  marital-status_Separated                   45222 non-null  float64
 14  marital-status_Widowed                     45222 non-null  float64
 15  occupation_Armed-Forces                    45222 non-null  float64
 16  occupation_Craft-repair                    45222 non-null  float64
 17  occupation_Exec-managerial                 45222 non-null  float64
 18  occupation_Farming-fishing                 45222 non-null  float64
 19  occupation_Handlers-cleaners               45222 non-null  float64
 20  occupation_Machine-op-inspct               45222 non-null  float64
 21  occupation_Other-service                   45222 non-null  float64
 22  occupation_Priv-house-serv                 45222 non-null  float64
 23  occupation_Prof-specialty                  45222 non-null  float64
 24  occupation_Protective-serv                 45222 non-null  float64
 25  occupation_Sales                           45222 non-null  float64
 26  occupation_Tech-support                    45222 non-null  float64
 27  occupation_Transport-moving                45222 non-null  float64
 28  relationship_Not-in-family                 45222 non-null  float64
 29  relationship_Other-relative                45222 non-null  float64
 30  relationship_Own-child                     45222 non-null  float64
 31  relationship_Unmarried                     45222 non-null  float64
 32  relationship_Wife                          45222 non-null  float64
 33  race_Asian-Pac-Islander                    45222 non-null  float64
 34  race_Black                                 45222 non-null  float64
 35  race_Other                                 45222 non-null  float64
 36  race_White                                 45222 non-null  float64
 37  gender_Male                                45222 non-null  float64
 38  native-country_Canada                      45222 non-null  float64
 39  native-country_China                       45222 non-null  float64
 40  native-country_Columbia                    45222 non-null  float64
 41  native-country_Cuba                        45222 non-null  float64
 42  native-country_Dominican-Republic          45222 non-null  float64
 43  native-country_Ecuador                     45222 non-null  float64
 44  native-country_El-Salvador                 45222 non-null  float64
 45  native-country_England                     45222 non-null  float64
 46  native-country_France                      45222 non-null  float64
 47  native-country_Germany                     45222 non-null  float64
 48  native-country_Greece                      45222 non-null  float64
 49  native-country_Guatemala                   45222 non-null  float64
 50  native-country_Haiti                       45222 non-null  float64
 51  native-country_Holand-Netherlands          45222 non-null  float64
 52  native-country_Honduras                    45222 non-null  float64
 53  native-country_Hong                        45222 non-null  float64
 54  native-country_Hungary                     45222 non-null  float64
 55  native-country_India                       45222 non-null  float64
 56  native-country_Iran                        45222 non-null  float64
 57  native-country_Ireland                     45222 non-null  float64
 58  native-country_Italy                       45222 non-null  float64
 59  native-country_Jamaica                     45222 non-null  float64
 60  native-country_Japan                       45222 non-null  float64
 61  native-country_Laos                        45222 non-null  float64
 62  native-country_Mexico                      45222 non-null  float64
 63  native-country_Nicaragua                   45222 non-null  float64
 64  native-country_Outlying-US(Guam-USVI-etc)  45222 non-null  float64
 65  native-country_Peru                        45222 non-null  float64
 66  native-country_Philippines                 45222 non-null  float64
 67  native-country_Poland                      45222 non-null  float64
 68  native-country_Portugal                    45222 non-null  float64
 69  native-country_Puerto-Rico                 45222 non-null  float64
 70  native-country_Scotland                    45222 non-null  float64
 71  native-country_South                       45222 non-null  float64
 72  native-country_Taiwan                      45222 non-null  float64
 73  native-country_Thailand                    45222 non-null  float64
 74  native-country_Trinadad&Tobago             45222 non-null  float64
 75  native-country_United-States               45222 non-null  float64
 76  native-country_Vietnam                     45222 non-null  float64
 77  native-country_Yugoslavia                  45222 non-null  float64
dtypes: float64(75), int64(2), object(1)
memory usage: 26.9+ MB

In [81]:
df_final_sem_interrro['educational-num'].unique()
df_final_sem_interrro['gender_Male'].unique()

array([1., 0.])

In [82]:
df_final_sem_interrro['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [83]:
df_final_sem_interrro['income'] = df_final_sem_interrro['income'].map({'<=50K': 1, '>50K': 0})

In [84]:
df_final_sem_interrro['income'].unique()

array([1, 0])

In [85]:
df_final_sem_interrro.to_csv('../data/dados.preprocessados.csv', index=False)

In [86]:
df_final_sem_interrro

,age,educational-num,income,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Married-AF-spouse,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38,9,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,28,12,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,44,10,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,34,6,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,27,12,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,40,9,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,58,9,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,22,9,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,52,9,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Escalonamento dos Dados

Escalonar os dados é importante para algoritmos como KNN e Laplace, que são sensíveis à escala das features. Aqui usamos StandardScaler para normalizar todos os atributos.

In [87]:
from sklearn.preprocessing import StandardScaler

# Separar features (X) e target (y)
X = df_final_sem_interrro.drop('income', axis=1)
y = df_final_sem_interrro['income']

# Criar o escalonador
scaler = StandardScaler()

# Ajustar e transformar os dados
X_scaled = scaler.fit_transform(X)

# Converter para DataFrame para manter os nomes das colunas
df_scaled = pd.DataFrame(X_scaled, columns=X.columns)

# Adicionar a coluna target de volta
df_scaled['income'] = y.values

print("Dados originais - Primeiras linhas:")
print(df_final_sem_interrro.head())
print("\nDados escalonados - Primeiras linhas:")
print(df_scaled.head())
print("\nEstatísticas dos dados originais:")
print(df_final_sem_interrro.describe())
print("\nEstatísticas dos dados escalonados:")
print(df_scaled.describe())

Dados originais - Primeiras linhas:
   age  educational-num  income  workclass_Local-gov  workclass_Private  \
0   25                7       1                  0.0                1.0
1   38                9       1                  0.0                1.0
2   28               12       0                  1.0                0.0
3   44               10       0                  0.0                1.0
4   34                6       1                  0.0                1.0

   workclass_Self-emp-inc  workclass_Self-emp-not-inc  workclass_State-gov  \
0                     0.0                         0.0                  0.0
1                     0.0                         0.0                  0.0
2                     0.0                         0.0                  0.0
3                     0.0                         0.0                  0.0
4                     0.0                         0.0                  0.0

   workclass_Without-pay  marital-status_Married-AF-spouse  ...  \
0                    0.0                               0.0  ...
1                    0.0                               0.0  ...
2                    0.0                               0.0  ...
3                    0.0                               0.0  ...
4                    0.0                               0.0  ...

   native-country_Portugal  native-country_Puerto-Rico  \
0                      0.0                         0.0
1                      0.0                         0.0
2                      0.0                         0.0
3                      0.0                         0.0
4                      0.0                         0.0

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                      0.0                   0.0                    0.0
1                      0.0                   0.0                    0.0
2                      0.0                   0.0                    0.0
3                      0.0                   0.0                    0.0
4                      0.0                   0.0                    0.0

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                      0.0                             0.0
1                      0.0                             0.0
2                      0.0                             0.0
3                      0.0                             0.0
4                      0.0                             0.0

   native-country_United-States  native-country_Vietnam  \
0                           1.0                     0.0
1                           1.0                     0.0
2                           1.0                     0.0
3                           1.0                     0.0
4                           1.0                     0.0

   native-country_Yugoslavia
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 78 columns]

Dados escalonados - Primeiras linhas:
        age  educational-num  workclass_Local-gov  workclass_Private  \
0 -1.024983        -1.221559            -0.271285           0.598108
1 -0.041455        -0.438122            -0.271285           0.598108
2 -0.798015         0.737034             3.686155          -1.671940
3  0.412481        -0.046403            -0.271285           0.598108
4 -0.344079        -1.613277            -0.271285           0.598108

   workclass_Self-emp-inc  workclass_Self-emp-not-inc  workclass_State-gov  \
0               -0.194353                    -0.30271            -0.212055
1               -0.194353                    -0.30271            -0.212055
2               -0.194353                    -0.30271            -0.212055
3               -0.194353                    -0.30271            -0.212055
4               -0.194353                    -0.30271            -0.212055

   workclass_Without-pay  marital-status_Married-AF-spouse  \
0              -0.021554                         -0.026611
1              -0.021554                         -0.026611
2              -0.021554                         -0.026611
3              -0.021554                         -0.026611
4              -0.021554                         -0.026611

   marital-status_Married-civ-spouse  ...  native-country_Puerto-Rico  \
0                          -0.933397  ...                   -0.062328
1                           1.071356  ...                   -0.062328
2                           1.071356  ...                   -0.062328
3                           1.071356  ...                   -0.062328
4                          -0.933397  ...                   -0.062328

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                -0.021035             -0.047312              -0.034896
1                -0.021035             -0.047312              -0.034896
2                -0.021035             -0.047312              -0.034896
3                -0.021035             -0.047312              -0.034896
4                -0.021035             -0.047312              -0.034896

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                -0.025332                       -0.023985
1                -0.025332                       -0.023985
2                -0.025332                       -0.023985
3                -0.025332                       -0.023985
4                -0.025332                       -0.023985

   native-country_United-States  native-country_Vietnam  \
0                      0.308506               -0.042881
1                      0.308506               -0.042881
2                      0.308506               -0.042881
3                      0.308506               -0.042881
4                      0.308506               -0.042881

   native-country_Yugoslavia  income
0                  -0.022558       1
1                  -0.022558       1
2                  -0.022558       0
3                  -0.022558       0
4                  -0.022558       1

[5 rows x 78 columns]

Estatísticas dos dados originais:
                age  educational-num        income  workclass_Local-gov  \
count  45222.000000     45222.000000  45222.000000         45222.000000
mean      38.547941        10.118460      0.752156             0.068551
std       13.217870         2.552881      0.431766             0.252691
min       17.000000         1.000000      0.000000             0.000000
25%       28.000000         9.000000      1.000000             0.000000
50%       37.000000        10.000000      1.000000             0.000000
75%       47.000000        13.000000      1.000000             0.000000
max       90.000000        16.000000      1.000000             1.000000

       workclass_Private  workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
count       45222.000000            45222.000000                45222.000000
mean            0.736522                0.036398                    0.083941
std             0.440524                0.187281                    0.277303
min             0.000000                0.000000                    0.000000
25%             0.000000                0.000000                    0.000000
50%             1.000000                0.000000                    0.000000
75%             1.000000                0.000000                    0.000000
max             1.000000                1.000000                    1.000000

       workclass_State-gov  workclass_Without-pay  \
count         45222.000000           45222.000000
mean              0.043032               0.000464
std               0.202932               0.021545
min               0.000000               0.000000
25%               0.000000               0.000000
50%               0.000000               0.000000
75%               0.000000               0.000000
max               1.000000               1.000000

       marital-status_Married-AF-spouse  ...  native-country_Portugal  \
count                      45222.000000  ...             45222.000000
mean                           0.000708  ...                 0.001371
std                            0.026592  ...                 0.037002
min                            0.000000  ...                 0.000000
25%                            0.000000  ...                 0.000000
50%                            0.000000  ...                 0.000000
75%                            0.000000  ...                 0.000000
max                            1.000000  ...                 1.000000

       native-country_Puerto-Rico  native-country_Scotland  \
count                45222.000000             45222.000000
mean                     0.003870                 0.000442
std                      0.062088                 0.021026
min                      0.000000                 0.000000
25%                      0.000000                 0.000000
50%                      0.000000                 0.000000
75%                      0.000000                 0.000000
max                      1.000000                 1.000000

       native-country_South  native-country_Taiwan  native-country_Thailand  \
count          45222.000000           45222.000000             45222.000000
mean               0.002233               0.001216                 0.000641
std                0.047207               0.034854                 0.025316
min                0.000000               0.000000                 0.000000
25%                0.000000               0.000000                 0.000000
50%                0.000000               0.000000                 0.000000
75%                0.000000               0.000000                 0.000000
max                1.000000               1.000000                 1.000000

       native-country_Trinadad&Tobago  native-country_United-States  \
count                    45222.000000                  45222.000000
mean                         0.000575                      0.913095
std                          0.023971                      0.281698
min                          0.000000                      0.000000
25%                          0.000000                      1.000000
50%                          0.000000                      1.000000
75%                          0.000000                      1.000000
max                          1.000000                      1.000000

       native-country_Vietnam  native-country_Yugoslavia
count            45222.000000               45222.000000
mean                 0.001835                   0.000509
std                  0.042803                   0.022547
min                  0.000000                   0.000000
25%                  0.000000                   0.000000
50%                  0.000000                   0.000000
75%                  0.000000                   0.000000
max                  1.000000                   1.000000

[8 rows x 78 columns]

Estatísticas dos dados escalonados:
                age  educational-num  workclass_Local-gov  workclass_Private  \
count  4.522200e+04     4.522200e+04         4.522200e+04       4.522200e+04
mean  -2.576821e-17     1.476958e-16        -3.574554e-17      -8.107559e-17
std    1.000011e+00     1.000011e+00         1.000011e+00       1.000011e+00
min   -1.630231e+00    -3.571870e+00        -2.712854e-01      -1.671940e+00
25%   -7.980149e-01    -4.381216e-01        -2.712854e-01      -1.671940e+00
50%   -1.171110e-01    -4.640300e-02        -2.712854e-01       5.981075e-01
75%    6.394489e-01     1.128753e+00        -2.712854e-01       5.981075e-01
max    3.892656e+00     2.303909e+00         3.686155e+00       5.981075e-01

       workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
count            4.522200e+04                4.522200e+04
mean            -3.456711e-17               -5.467889e-17
std              1.000011e+00                1.000011e+00
min             -1.943530e-01               -3.027099e-01
25%             -1.943530e-01               -3.027099e-01
50%             -1.943530e-01               -3.027099e-01
75%             -1.943530e-01               -3.027099e-01
max              5.145277e+00                3.303493e+00

       workclass_State-gov  workclass_Without-pay  \
count         4.522200e+04           4.522200e+04
mean         -3.472424e-17           6.599176e-18
std           1.000011e+00           1.000011e+00
min          -2.120547e-01          -2.155438e-02
25%          -2.120547e-01          -2.155438e-02
50%          -2.120547e-01          -2.155438e-02
75%          -2.120547e-01          -2.155438e-02
max           4.715765e+00           4.639427e+01

       marital-status_Married-AF-spouse  marital-status_Married-civ-spouse  \
count                      4.522200e+04                       4.522200e+04
mean                      -6.284930e-19                      -5.247916e-17
std                        1.000011e+00                       1.000011e+00
min                       -2.661055e-02                      -9.333967e-01
25%                       -2.661055e-02                      -9.333967e-01
50%                       -2.661055e-02                      -9.333967e-01
75%                       -2.661055e-02                       1.071356e+00
max                        3.757908e+01                       1.071356e+00

       ...  native-country_Puerto-Rico  native-country_Scotland  \
count  ...                4.522200e+04             4.522200e+04
mean   ...                1.885479e-17            -5.970683e-18
std    ...                1.000011e+00             1.000011e+00
min    ...               -6.232842e-02            -2.103469e-02
25%    ...               -6.232842e-02            -2.103469e-02
50%    ...               -6.232842e-02            -2.103469e-02
75%    ...               -6.232842e-02            -2.103469e-02
max    ...                1.604405e+01             4.754051e+01

       native-country_South  native-country_Taiwan  native-country_Thailand  \
count          4.522200e+04           4.522200e+04             4.522200e+04
mean          -1.728356e-18          -3.456711e-18             2.011178e-17
std            1.000011e+00           1.000011e+00             1.000011e+00
min           -4.731200e-02          -3.489560e-02            -2.533165e-02
25%           -4.731200e-02          -3.489560e-02            -2.533165e-02
50%           -4.731200e-02          -3.489560e-02            -2.533165e-02
75%           -4.731200e-02          -3.489560e-02            -2.533165e-02
max            2.113629e+01           2.865690e+01             3.947631e+01

       native-country_Trinadad&Tobago  native-country_United-States  \
count                    4.522200e+04                  4.522200e+04
mean                     3.142465e-19                  1.142286e-16
std                      1.000011e+00                  1.000011e+00
min                     -2.398483e-02                 -3.241430e+00
25%                     -2.398483e-02                  3.085058e-01
50%                     -2.398483e-02                  3.085058e-01
75%                     -2.398483e-02                  3.085058e-01
max                      4.169302e+01                  3.085058e-01

       native-country_Vietnam  native-country_Yugoslavia        income
count            4.522200e+04               4.522200e+04  45222.000000
mean             4.399451e-18               8.013285e-18      0.752156
std              1.000011e+00               1.000011e+00      0.431766
min             -4.288082e-02              -2.255794e-02      0.000000
25%             -4.288082e-02              -2.255794e-02      1.000000
50%             -4.288082e-02              -2.255794e-02      1.000000
75%             -4.288082e-02              -2.255794e-02      1.000000
max              2.332045e+01               4.433028e+01      1.000000

[8 rows x 78 columns]
                age  educational-num  workclass_Local-gov  workclass_Private  \
count  4.522200e+04     4.522200e+04         4.522200e+04       4.522200e+04
mean  -2.576821e-17     1.476958e-16        -3.574554e-17      -8.107559e-17
std    1.000011e+00     1.000011e+00         1.000011e+00       1.000011e+00
min   -1.630231e+00    -3.571870e+00        -2.712854e-01      -1.671940e+00
25%   -7.980149e-01    -4.381216e-01        -2.712854e-01      -1.671940e+00
50%   -1.171110e-01    -4.640300e-02        -2.712854e-01       5.981075e-01
75%    6.394489e-01     1.128753e+00        -2.712854e-01       5.981075e-01
max    3.892656e+00     2.303909e+00         3.686155e+00       5.981075e-01

       workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
count            4.522200e+04                4.522200e+04
mean            -3.456711e-17               -5.467889e-17
std              1.000011e+00                1.000011e+00
min             -1.943530e-01               -3.027099e-01
25%             -1.943530e-01               -3.027099e-01
50%             -1.943530e-01               -3.027099e-01
75%             -1.943530e-01               -3.027099e-01
max              5.145277e+00                3.303493e+00

       workclass_State-gov  workclass_Without-pay  \
count         4.522200e+04           4.522200e+04
mean         -3.472424e-17           6.599176e-18
std           1.000011e+00           1.000011e+00
min          -2.120547e-01          -2.155438e-02
25%          -2.120547e-01          -2.155438e-02
50%          -2.120547e-01          -2.155438e-02
75%          -2.120547e-01          -2.155438e-02
max           4.715765e+00           4.639427e+01

       marital-status_Married-AF-spouse  marital-status_Married-civ-spouse  \
count                      4.522200e+04                       4.522200e+04
mean                      -6.284930e-19                      -5.247916e-17
std                        1.000011e+00                       1.000011e+00
min                       -2.661055e-02                      -9.333967e-01
25%                       -2.661055e-02                      -9.333967e-01
50%                       -2.661055e-02                      -9.333967e-01
75%                       -2.661055e-02                       1.071356e+00
max                        3.757908e+01                       1.071356e+00

       ...  native-country_Puerto-Rico  native-country_Scotland  \
count  ...                4.522200e+04             4.522200e+04
mean   ...                1.885479e-17            -5.970683e-18
std    ...                1.000011e+00             1.000011e+00
min    ...               -6.232842e-02            -2.103469e-02
25%    ...               -6.232842e-02            -2.103469e-02
50%    ...               -6.232842e-02            -2.103469e-02
75%    ...               -6.232842e-02            -2.103469e-02
max    ...                1.604405e+01             4.754051e+01

       native-country_South  native-country_Taiwan  native-country_Thailand  \
count          4.522200e+04           4.522200e+04             4.522200e+04
mean          -1.728356e-18          -3.456711e-18             2.011178e-17
std            1.000011e+00           1.000011e+00             1.000011e+00
min           -4.731200e-02          -3.489560e-02            -2.533165e-02
25%           -4.731200e-02          -3.489560e-02            -2.533165e-02
50%           -4.731200e-02          -3.489560e-02            -2.533165e-02
75%           -4.731200e-02          -3.489560e-02            -2.533165e-02
max            2.113629e+01           2.865690e+01             3.947631e+01

       native-country_Trinadad&Tobago  native-country_United-States  \
count                    4.522200e+04                  4.522200e+04
mean                     3.142465e-19                  1.142286e-16
std                      1.000011e+00                  1.000011e+00
min                     -2.398483e-02                 -3.241430e+00
25%                     -2.398483e-02                  3.085058e-01
50%                     -2.398483e-02                  3.085058e-01

In [88]:
# Salvar os dados escalonados
df_scaled.to_csv('../data/dados.escalonados.csv', index=False)
print("Dados escalonados salvos em: ../data/dados.escalonados.csv")

Dados escalonados salvos em: ../data/dados.escalonados.csv